@model MyResourcesApp.Models.UserInfo

@{
    ViewBag.Title = "Change Password";
}
<h1>Change Password</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ChangePassword" asp-controller="Login">
            <div class="form-group">
                <label>User ID</label>
                <input id="UserID" name="UserID" class="form-control" readonly />

            </div>
            <div class="form-group">
                <label>Old Password</label>
                <input id="UserID" name="UserID" class="form-control" autocomplete="off" />

            </div>
            <div class="form-group">
                <label>Password</label>
                <input id="Password" name="Password" class="form-control" autocomplete="off" />

            </div>
            <div class="form-group">
                <label>ConfirmedPassword</label>
                <input id="ConfirmedPassword" name="ConfirmedPassword" class="form-control" autocomplete="off" />

            </div>
            @*  <div class="form-group">
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>*@
            <button type="submit" class="btn btn-primary">Changed Password</button>
        </form>

    </div>
</div>
<script>
  
</script>