@model MyResourcesApp.Models.UserInfo

@{
    Layout = "_LoginLayout";
    //ViewBag.Title = "Change Password";
}
@*<h1>Change Password</h1>*@

<div class="RegisterHeader">
    <fieldset class="RegisterLabel">
        <legend>Register</legend>
        <br />
        <div class="col-md-4">
            <form method="post" asp-action="ChangePassword" asp-controller="Login">
                <div class="form-group">
                    <label>User ID</label>
                    @*<label asp-for="UserID" class="control-label"></label>*@
                    <input asp-for="UserID" class="form-control" readonly />

                </div>
                <div class="form-group">
                    <label>Old Password</label>
                    @*<input asp-for="Password" class="form-control" readonly />*@
                    <input type="password" id="Password" name="Password" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input id="NewPassword" type="password" name="NewPassword" class="form-control" autocomplete="off" />

                </div>
                <div class="form-group">
                    <label>ConfirmedPassword</label>
                    <input id="ConfirmedPassword" type="password" name="ConfirmedPassword" class="form-control" autocomplete="off" />

                </div>
                @*  <div class="form-group">
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>*@
                <button type="submit" class="btn btn-primary">Changed Password</button> |
                <a asp-action="Login" asp-controller="Login" class="btn btn-primary my-1">Cancel</a>

            </form>

        </div>
        </fieldset>
</div>
    <script>

    </script>
