@model ErrorViewModel
@{
    ViewData["Title"] = "Order Pending!";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h3>Order for product "@ViewBag.ProductName" is still pending.</h3>
<h4>You cannot edit/delete the product.</h4>
<div>
    @Html.ActionLink("Ok", "RegisterProduct", new { @class = "btn btn-primary" })
</div>