
@{
    ViewData["Title"] = "Home Page";
}
<img src="~/images/NRDCL-final-1.png" alt="Logo" class="logo-header" style="margin-left: -10.5%; background-color: black;" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>To</h2>
    <p>Natural Resources Development Corporation Limited(NRDCL)</p>
</div>
