@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <legend>Required Amount Details</legend>

    <p>
        Total Order Amount:  Nu. @TempData["TotalOrderAmts"]
    </p>

    <p>

        Advance Balance:  Nu. @ViewBag.BalanceAmt
    </p>
    <p>

        Required Amount:  Nu. @ViewBag.RequiredAmt
    </p>
}
